// VARIABLES
// COLORS
$color-primary: #003566;
$color-primary-dark: #001D3D;
$color-accent: #FFC300;
$color-accent-light: #FFD60A;

$color-dark-000: #000814;
$color-dark-333: #333333;

$color-white: #f5f5f5;
$color-white-plain: #ffffff;

$color-grey: #cccccc;
$color-grey-dark: #666666;
